body {
    background: linear-gradient(225deg, #b7b9ea 0%, #e9e8b7 100%);
    height: 100vh;
    margin: 0;
}

#root {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    place-content: stretch;
}

.color-container {
    display: grid;
    place-content: center;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
}

.color-container span {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: firebrick;
    border: 5px solid #333;
}

.colorpicker-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-bar {
    width: 50%;
    height: 80%;
    background: linear-gradient(to bottom, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    border-radius: 5px;
    position: relative;
}

#picker {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 1%;
    border: 2px solid #000;
    transform: translate(-50%, -50%);
}

.hex-container {
    display: flex;
    justify-content: center;
}